.attribution {
    font-size: 11px;
}

.attribution a {
    color: #3e52a3;
}

body {
    background-color: #141519;
    font-family: 'Overpass', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    flex-direction: column;
    height: 55vh;
    width: 50vh;
    background: rgb(34, 41, 51);
    background: linear-gradient(180deg, rgb(34, 41, 51) 0%, rgb(15, 22, 31) 100%);
    border-radius: 5%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 5, 0.5);
    align-items: flex-start;
    box-sizing: border-box;
    padding: 4vh;
}

.card h1 {
    color: white;
    font-size: 4vh;
    font-weight: 700;
}

.card p {
    color: #7c8798;
    font-size: 2.1vh;
    line-height: 140%;
}

.header-star {
    display: flex;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #252d37; /* Dark Blue */
    justify-content: center;
    align-items: center;
}

.header-star img {
    flex-shrink: 1;
    width: 2vh;
}
