* {
    box-sizing: border-box;
}

body {
    background-color: #141519;
    font-family: 'Overpass', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 97vh;
    justify-content: center;
    align-items: center;
}

.card {
    height: auto;
    width: 50vh;
    background: rgb(34, 41, 51);
    background: linear-gradient(180deg, rgb(34, 41, 51) 0%, rgb(15, 22, 31) 100%);
    border-radius: 5%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 5, 0.5);
    align-items: flex-start;
    padding: 4vh;
}

.card h1 {
    color: white;
    font-size: 4vh;
    font-weight: 700;
}

.card p {
    color: #7c8798;
    font-size: 2.1vh;
    line-height: 140%;
}

.header-star {
    display: flex;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #252d37; /* Dark Blue */
    justify-content: center;
    align-items: center;
}

.header-star img {
    flex-shrink: 1;
    width: 2.4vh;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 4vh 0;
}

.rating div {
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #252d37; /* Dark Blue */
}

.rating:hover > div:hover p:hover {
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.rating:hover > div:hover {
    background-color: #7c8798; /* Medium Grey */
    transition: 0.5s ease;
}

.button {
    display: flex;
    width: 100%;
    height: 6vh;
    background-color: #fb7413;
    justify-content: center;
    border-radius: 50vh;
    cursor: pointer;
}

.button p {
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
}

.button:hover {
    background-color: white;
    transition: 0.5s ease;
}

.button:hover p {
    color: #fb7413;
}

.attribution {
    color: white;
    font-weight: 400;
    font-size: 2vh;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
}
